.content-container{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.bs-component{
  margin-left: 2%;
}

.bs-component form{
  display: flex;
  justify-content: space-between;
}

.form-control{
  margin-right: 20px;
}

.image-container {
  width: 600px;
  height: 600px;
  margin: 2%;
  margin-right: 10%;
  border: 0.8px solid lightblue;
}

.result-container{
  width: 600px;
  height: 600px;
  margin: 2%;
  border: 0.8px solid lightblue;
  overflow-y: scroll;
  pointer-events: visible;   
  color: transparent;
  text-shadow: 0 0 0 black;
}

.ocr-btn{
  margin-left: 2%;
}