<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% comment %} 정적 파일의 절대 URL 생성 {% endcomment %}
  {% load static %} 
  <link rel = "stylesheet" type="text/css" href= "{% static 'polls/style.css' %}" />
  <title>Document</title>
</head>
<body> 
  {% comment %} 질문리스트 있다면 {% endcomment %}
  {% if latest_question_list %}      
  <ul>
    {% for question in latest_question_list %}
      {% comment %} <li><a href="/polls/{{question.id}}/"> {{question.question_text}}</a></li> {% endcomment %}
      {% comment %} 하드코딩된 접근방식 수정(url 설정에 정의된 특정한 URL 경로 의존성 제거) {% endcomment %}
      {% comment %} URL 바꿀때는 polls/urls.py에서 수정해야함 {% endcomment %}
      <li><a href="{% url 'polls:detail' question.id %}"> {{question.question_text}}</a></li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No polls are available.</p>
  {% endif %}
</body>
</html>