<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static  %}
  <link rel = "stylesheet" type="text/css" href="{% static 'ocrTest/css/bootstrap.min.css'%}" />
  <link rel = "stylesheet" type="text/css" href="{% static 'ocrTest/css/index.css'%}" />
  <title>Document</title>
</head>
<body>
  <h1>OcrTest</h1>
  <div class="content-container">
  {% comment %} 이미지 넣기 {% endcomment %}
  <div class="image-container"> 
    {%if 'http://' in mainphoto %}
    <img src = "{{mainphoto}}" alt="" height="600" width="600" >
    {% elif mainphoto != None %}
    <img src = "/media/{{mainphoto}}" alt="" height="600" width="600" >
    {% else %}
    <img alt="" height="600" width="600" >
    {% endif %}

    
    
  </div>
  
  
  <div class="result-container">
    
    
  </div>
</div>
<div class="bs-component mb-4">
{% comment %} <form action="/ocr/" method="post" enctype="multipart/form-data"> {% endcomment %}
<form action="/ocr/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input class="form-control img-name" id="formFile" type="file" name="file">
  <input class="btn btn-secondary my-2 my-sm-0 submit-btn" type="submit" value="이미지 업로드" style="display:none;">
  {% comment %} <input class="btn btn-secondary my-2 my-sm-0 ocr-btn" type="submit" value="OCR 결과확인"> {% endcomment %}
  <button class="btn btn-secondary my-2 my-sm-0 ocr-btn" type="button" value="OCR 결과확인" onclick=fnRecoFetch()>OCR </button>
</form>  
</div>

</body>

<script type="text/javascript">
 
  let ocrResult = '';
  


  function fnRecoFetch(img){
    let goUrl = "http://61.72.55.130:8999/ocr/imgUploadMulti";

    console.log("*************fnReocAjax*******************");

    //let imgSrc = document.querySelector('.image-container img').src;
    fileInput = document.querySelector("#formFile");

    let myFormData = new FormData();
    console.log("fileInput.files[0].name : "  + fileInput.files[0]);
    myFormData.append('file', fileInput.files[0]);     //이미지 파일 경로
    myFormData.append('ocrmode', "0");
    myFormData.append('metaId', "0");
    myFormData.append('docModelId', "0");
    blobURL = window.URL.createObjectURL(fileInput.files[0]);
    document.querySelector('.image-container img').src = blobURL;
    fetch(goUrl, {
      method: 'post',
      headers: {
        "X-CSRFToken": '{{csrf_token}}',
    },
    body: myFormData
    })
    .then(response => {
      result = response.json();
      console.log("result :  "+ result);
      status_code = response.status;
      if(status_code != 200){
        console.log("Error in getting fnReocAjax~~~")
        return false;
      }
      return result
    })
    .then(result => {
      resultElm = document.querySelector('.result-container');
      console.log("=====result =====" +"\n" +result);
      ocrResult = result['detectInfo'][0]['result'];
      resultElm.innerText = '';
      for (var i = 0; i < ocrResult.length; i++) {
          resultElm.innerText += ocrResult[i]['ocrText'];
      }
      
    })
    .catch(error => {
        console.log(error);
    })

  }
</script>
</html>
